# Ignore Jupyter Notebook files
*.ipynb

# Ignore Python bytecode and cache directories
__pycache__/
*.py[cod]
*.pytest_cache

# Ignore virtual environment directory
*.venv/

# Ignore common export files and checkpoints
ipynb_checkpoints/
.DS_Store
export.zip

# Ignore data files
*.csv
*.json
*.gpx
*.xml

# Ignore Apple Health Export
data/raw/apple_health_export/